    @import 'bootstrap3/less/normalize.less';
    @import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Montserrat:700,900&display=swap');
    @logoWidth: 400px;
    @marginHeader: 185px;
    @paddingsRL: 220px;
    @pageWidth: 1600px;
    @doctorImg: 279px;

    ////////////////////////////// FONTS ///////////////////////////////////////

    html,
    body {
        font-size: 18px;
    }

    h1,
    h2 {
        font-family: "Montserrat", sans-serif;
    }

    header .sociallink a {
        color: #191919;
        font-weight: 700;
        font-size: 1.5rem;
        margin-right: 1.5rem;
    }

    .worktime,
    header address,
    header .phone {
        font-family: OpenSans-Bold, sans-serif;
        font-size: 0.7rem;

        & em {
            font-size: 0.7rem;
            font-weight: 700;
            text-transform: uppercase;
            font-style: normal;

        }
    }

    .navbar menu li {
        font-family: "Montserrat", serif;
        font-size: 1.0rem;
        font-weight: 400;

        & a {
            text-decoration: none;
            color: #bababa;
        }
    }

    .ads {
        color: rgba(71, 71, 71, 255);


        & h1 {
            font-size: 1.8rem;
            font-weight: 900;
            text-align: center;
            line-height: 150%;
        }

        & div {
            text-align: center;
            font-size: .8vw;
            line-height: 180%;
        }

        & button {
            font-family: "Lato-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular", sans-serif;
            color: #fff;
            font-size: 1.0rem;
            font-weight: 900;
            text-transform: uppercase;
            width: 166px;
            height: 47px;
            border-radius: 23px;
            border: 0px;
            box-shadow: 5px 5px 5px 5px #d2d2d2;
            background-color: #0087be;
            text-align: center;
            line-height: 0;
            text-decoration: none;
            display: inline-block;
            margin-top: 40px;
        }
    }

    .features {

        & article {
            text-align: center;
            color: #fff;
            line-height: 1.5rem;
        }

        & article h2 {
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 1.3rem;
        }

        & article:first-child {
            background: url(/img/feature-scope.png) no-repeat;
            background-position: center 80px;
        }

        & article:nth-child(2) {
            background: url(/img/feature-phone.png) no-repeat;
            background-position: center 80px;
        }

        & article:nth-child(3) {
            background: url(/img/feature-nurse.png) no-repeat;
            background-position: center 80px;
        }

        & article:last-child {
            background: url(/img/feature-car.png) no-repeat;
            background-position: center 80px;
        }
    }


    .chooseUs {
        color: rgba(106, 106, 106, 255);


        & h1 {
            color: #494949;
            font-weight: 900;
            font-size: 3rem;
            margin-bottom: 1.7rem;

        }

        & h2 {
            margin: 1.3rem 0;
            height: 75px;
            display: table-cell;
            vertical-align: middle;
            padding-left: 5.8rem;
        }

        & article {
            align-self: center;
            line-height: 200%;
        }

        & article:nth-child(2) h2 {
            background: url(/img/choose-star.png) no-repeat;
        }

        & article:nth-child(3) {
            background: url(/img/choose-micro.png) no-repeat;
        }

        & article:nth-child(5) {
            background: url(/img/choose-pill.png) no-repeat;
        }

        & article:nth-child(6) {
            background: url(/img/choose-atom.png) no-repeat;
        }






        & div {
            grid-row: 2/span 2;
            grid-column-start: 2;
        }
    }

    .achievements {
        color: #fff;

        & section {
            text-align: center;
            color: #fff;
            line-height: 1.5rem;
            padding-top: 4.5rem;

            & h3 {
                font-size: 3rem;
            }

            & div {
                font-size: 1.2rem;
                font-weight: 700;
            }

            &:nth-child(1) {
                background: url(/img/achivements-hands.png) no-repeat;
                background-position: center top;
            }

            &:nth-child(2) {
                background: url(/img/achivements-heart.png) no-repeat;
                background-position: center top;
            }

            &:nth-child(3) {
                background: url(/img/achivements-heli.png) no-repeat;
                background-position: center top;
            }

            &:nth-child(4) {
                background: url(/img/achivements-lungs.png) no-repeat;
                background-position: center top;
            }
        }

        & hr {
            width: 60%;
            height: 5px;
            border: none;
            color: #fff;
            background-color: #fff;
        }
    }

    .howWeWorks {

        & button {
            font-family: "Lato-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular", sans-serif;
            color: #fff;
            font-size: 1.0rem;
            font-weight: 900;
            text-transform: uppercase;
            width: 154px;
            height: 43px;
            border-radius: 20px;
            border: 0px;
            box-shadow: 0px 0px 2px 2px #d2d2d2;
            background-color: #0087be;
            text-align: center;
            line-height: 0;
            text-decoration: none;
            display: inline-block;
        }

        & .headWide {
            grid-area: headWide;
            align-self: baseline;
            padding-top: 98px;
        }

        & .headNarrow {
            grid-area: headNarrow;
            align-self: baseline;
            padding-top: 98px;
        }

        & .accordeon {
            grid-area: accordeon;
        }
    }


    .team {
        & .doctor-card a {
            margin-right: 0.2rem;
            font-size: 1.5rem;
            display: inline-block;
            vertical-align: bottom;
            color: #0087be;

            &:nth-child(2) {
                font-weight: 700;
            }
        }
    }

    footer {

        background-color: #171717;
        color: #fff;

        & .offer {
            background-color: #e2e2e2;
            text-align: center;
            padding-top: 85px;
            font-family: "Montserrat", sans-serif;
            font-size: 1.8rem;
            font-weight: 700;

            & button {
                font-family: "Lato-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular", sans-serif;
                color: #fff;
                font-size: 1.3rem;
                font-weight: 900;
                text-transform: uppercase;
                width: 192px;
                height: 54px;
                border-radius: 27px;
                border: 0px;
                box-shadow: 5px 5px 5px 5px #d2d2d2;
                background-color: #0087be;
                text-align: center;
                line-height: 0;
                text-decoration: none;
                display: inline-block;
                margin-left: 2rem;
            }
        }



        & address {

            & menu {
                margin: 0px;
                padding: 0px;


                & li {
                    margin: 30px 0px 0px 0px;
                    width: 100%;
                    list-style-type: none;
                    height: 4rem;
                    display: block;
                    line-height: 1.5rem;
                    font-style: normal;

                }

                & .email,
                .phone,
                .post {


                    & i {
                        display: block;
                        width: 3.0rem;
                        float: left;
                        font-size: 2.8rem;
                        font-weight: 200;
                        margin-right: 1.3rem;
                    }
                }
            }

            & .socials i {
                margin-top: 30px;
                color: #fff;
                font-size: 1.3rem;
                margin-right: 1.0rem;
            }
        }



        & nav menu,
        .services menu {
            padding: 0px;
            margin: 0px;
            color: #9c9c9c;

            & li {
                list-style-type: none;
                display: block;
                height: 42px;
                background: url('../img/list-style.png') no-repeat;
                padding-left: 30px;
            }

            & li a {
                color: #9c9c9c;
                text-decoration: none;
            }
        }

        & .enquiry {}

        & .copyright {
            color: #615555;
            font-size: .8rem;
        }

        & h3 {
            font-family: OpenSans, sans-serif;
            font-style: normal;
            font-size: 1.3rem;
            font-weight: 700;
        }


    }


    ////////////////////////////////////////ANIMATION///////////////////////

    .ads button, .offer button {
        &:hover {
            -moz-transform: rotate(45deg);
            -webkit-transform: scale(1.2);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: scale(1.2);
                    }
    }

 header .phone div {
  animation-duration: 1s;
  animation-delay: 4s;
  animation-iteration-count: 1;
}



    /////////////////////////////////////////////////////


    h1,
    h2 {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    html,
    body {
        min-height: 100%;
        width: @pageWidth;
        display: grid;
        margin: 0 auto;
        grid-template-rows: 210px 1fr 927px;
        grid-template-columns: minmax(1300px, 100%);
    }

    .paddings () {
        padding-left: @paddingsRL;
        padding-right: @paddingsRL;
    }


    header,
    footer,
    main {
        width: 100%;
    }



    header .wrap {
        display: grid;
        margin: 0 @marginHeader 0 @marginHeader;
        grid-template-columns: @logoWidth 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 105px);
        grid-gap: 0px;
        grid-template-areas:
            "logo worktime address phone "
            "nav  nav       nav      nav ";
        align-items: center;
        justify-items: right;

    }

    header .navbar {
        border-top: 1px solid #ececec;
        grid-area: nav;
        height: 100%;
        justify-self: stretch;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 3fr 1fr;
    }


    .navbar menu {
        padding-left: 0px;
        align-self: center;
    }

    .navbar menu li {
        grid-area: nav;
        display: inline-block;
        margin-right: 30px;
    }

    .logo {
        grid-area: logo;
        justify-self: left;

    }

    .worktime,
    header address,
    header .phone {
        display: table;
        width: 100%;

        & div {
            display: table-cell;
            vertical-align: middle;
            height: 3.0rem;
            padding-left: 3.0rem;
        }
    }

    .worktime {
        background: url(../img/worktime-circle.png) no-repeat;
    }

    header .phone {
        background: url(../img/callus.png) no-repeat;
    }

    header address {
        background: url(../img/mailus.png) no-repeat;
    }


    .sociallink {
        align-self: center;
    }


    main {
        display: grid;
        grid-template-rows: 640px repeat(6, auto);
        grid-template-columns: 100%;
    }

    .ads {
        background-image: url(../img/ads-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        height: 640px;
        position: relative;

        & h1 {
            position: relative;
            width: 23vw;
            top: 190px;
            left: 280px;
            margin-bottom: 0.5rem;

        }

        & div {
            position: relative;
            width: 18vw;
            top: 190px;
            left: 334px;
        }
    }

    .features {
        display: grid;
        grid-template-rows: 360px;
        grid-template-columns: repeat(4, 1fr);

        & article {
            padding: 75px 40px 0px 40px;
        }

        & article:nth-child(1) {
            background-color: #43b1d2;
        }

        & article:nth-child(2) {
            background-color: #3fb6c6;
        }

        & article:nth-child(3) {
            background-color: #3cbbbb;
        }

        & article:nth-child(4) {
            background-color: #37c3a8;
        }

        & article h2 {
            margin-top: 100px;
        }
    }

    .chooseUs {
        display: grid;
        grid-template-rows: 260px 300px 300px;
        grid-template-columns: 1fr 337px 1fr;
        grid-column-gap: 3.3rem;
        .paddings();
        padding-top: 4.5rem;

        & article {
            align-self: center;
        }

        & article:nth-child(1) {
            grid-row: 1/span 1;
            grid-column: 1/span 3;
            padding: 0px 20% 0 20%;
            text-align: center;
        }


        & div {
            grid-row: 2/span 2;
            grid-column-start: 2;
        }
    }

    .achievements {
        display: grid;
        grid-template-rows: 595px;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        .paddings();
        justify-items: center;
        background: url(../img/achivements-bg.png) no-repeat;
        background-color: #0081bb;
        background-blend-mode: soft-light;
    }

    .howWeWorks {
        .paddings();
        display: grid;
        grid-template-rows: 250px 345px 140px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "headWide headWide headNarrow"
            "article1 article2 accordeon"
            "readmore  readmore   .  ";
        grid-row-gap: 52px;
        grid-column-gap: 32px;
        //height: 50rem;

        & .headWide {
            grid-area: headWide;
            align-self: baseline;
            padding-top: 98px;
        }

        & .headNarrow {
            grid-area: headNarrow;
            align-self: baseline;
            padding-top: 98px;
        }

        & .accordeon {
            grid-area: accordeon;
        }

        & .readmore {
            grid-area: readmore;
            justify-self: center;
        }


    }

    .gallery {
        min-height: 829px;
        .paddings();
        display: grid;
        justify-content: center;
        grid-template-rows: repeat(3, 212px);
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 36px;
        grid-column-gap: 32px;
        background: url(../img/gallery-bg.png) no-repeat;
        background-color: #2fb39b;
        background-blend-mode: screen;

        & .head {
            grid-column: 1/span 3;
            text-align: center;
            align-self: center;
        }

        & img {
            display: block;
            height: 210px;
            width: 345px;
            object-fit: cover;
            justify-self: center;
        }
    }

    .team {
        min-height: 829px;
        .paddings();
        display: grid;
        justify-content: center;
        grid-template-rows: repeat(2, 341px);
        grid-template-columns: repeat(4, 279px);
        grid-column-gap: 28px;
        justify-items: center;

        & .head {
            grid-column: 1/span 4;
            text-align: center;
            align-self: center;
        }

        & img {
            display: block;
            border-radius: 50%;
            width: @doctorImg;
            height: @doctorImg;
        }

        & .doctor-card span,
        .doctor-card {
            display: block;
            text-align: center;
        }

        & .doctor-social {
            margin-top: 1.5rem;
        }
    }

    footer {
        display: grid;
        grid-template-rows: 176px 1fr 130px;
        grid-template-columns: @paddingsRL repeat(4, 1fr) @paddingsRL;
        grid-template-areas:
            "offer offer offer offer offer offer"
            ". address nav services enquiry . "
            ". . copyright copyright . .";

        & .offer {
            grid-area: offer;
            color: #494949;
        }

        & address {
            grid-area: address;
        }

        & nav {
            grid-area: nav;
            justify-self: center;
        }

        & .services {
            grid-area: services;
            justify-self: center;

        }

        & .enquiry {
            grid-area: enquiry;
            padding-left: 3rem;

            & input:not([type="submit"]),
            textarea {
                width: 15rem;
                height: 3rem;
                border: 0px #171717;
                background-color: #171717;
                border-bottom: 2px solid #5f5f5f;


            }

            & input[type="tel"] {
                margin-bottom: 50px;
            }

            & input[type="text"] {
                margin-bottom: 15px;
                margin-top: -15px;
            }

            & textarea {
                margin-bottom: 15px;
            }

            & input[type="submit"] {
                color: #fff;
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                width: 7.5rem;
                height: 2.5rem;
                border-radius: 1.5rem;
                border: 0px;
                box-shadow: 0 0px 0px 0px #0087be;
                background-color: #0087be;
                text-align: center;
                line-height: 0;
                text-decoration: none;
                display: inline-block;
            }

        }

        & .copyright {
            grid-area: copyright;
        }

        & address,
        .enquiry,
        nav,
        .services {
            &menu {}

            & h3 {
                margin-top: 114px;
                margin-bottom: 75px;
            }
        }

    }
